*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;


}
body{
    background: #222;
}
.card{
    width: 90%;
    max-width: 400px;
    background: linear-gradient(135deg, #252323, #754a4a);
    border-radius: 15px;
    padding: 40px 30px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
    margin: 100px auto;
    text-align: center;

}
.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

}
.search input{
    border: none;
    background-color: aquamarine;
    width: 85%;
    padding: 10px 15px;
    color: #111000;
    flex: auto;
    border: none;
    border-radius: 50px;
    outline: none;
    font-size: 16px;
}
.search button{
    width: 40px;
    height: 40px;
    border: none;
    background-color: #111000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.search button img{
    width: 20px;
    filter: invert(1);
}
.weather-icon{
    width: 100px;
    margin-top: 20px;
}
.weather h1{
    font-size: 64px;
    color: #fff;
    margin: 20px 0 10px 0;
}
.weather h2{
    font-size: 32px;
    font-weight: 400;
    color: #fff;
    margin-top: -20px;
}
.details{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding: 20px 0;
}
.col{
    display: flex;
    text-align: left;
    align-items: center;
}
.col img{
    width: 40px;
    
    margin-right: 10px;
}
.humidity, .wind{
    color: #fff;
    font-size: 18px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.details{
    display: none;
}
.error{
    color: #ff0000;
    font-size: 18px;
    margin-top: 20px;
    display: none;
}